{% comment %} PREP { {% endcomment %}

{% comment %}
PREP

Просто сообщение. Типов сообщения может быть два: ошибка или успех.

Применять в шаблоне:
    {% include "messages/message.html" with type="error" message="Описание ошибки" %}
    {% include "messages/message.html" with message="Выполнено" %}

{% endcomment %}

{% load bootstrap_icons %}

{% if message %}
    <div class="message-box message-{{ type }} py-3 px-4 container mb-3">
        <div class="d-flex align-items-center">
            <span>
                {% if type == "error" %}
                    {% bs_icon 'exclamation-octagon-fill' size='1.5em' color='#842029' %}
                {% else %}
                    {% bs_icon 'hand-thumbs-up-fill' size='1.5em' color='#0f5132' %}
                {% endif %}
            </span>

            {# Applying the type class here ensures text color is also handled #}
            <span class="ms-3 text-content-{{ type }}">
                {{ message }}
            </span>
        </div>
    </div>
{% endif %}

{% comment %} } PREP {% endcomment %}
