{% load static %} {% comment %} PREP { {% endcomment %}

{% comment %}
PREP

Применение в шаблоне:
{% include 'general/form_with_confirmation.html' %}

{% endcomment %}



<html>
    <head>
        <link href="{% static 'general/css/bootstrap.min.css'%}" rel="stylesheet">
    </head>

<form id="form-with-confirmation" enctype="multipart/form-data"  method="POST">
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#confirmModal">
        Сохранить
    </button>
</form>


<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтверждение сохранения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <img src="{% static 'general/img/confirmation.svg' %}" alt="Confirm" class="img-fluid mb-3" style="max-width: 80px;">
                <p>Сохранить?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                <button type="button" class="btn btn-danger" id="confirm-btn">Да</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'general/js/bootstrap.bundle.min.js' %}"></script>
<script>
document.getElementById('confirm-btn').addEventListener('click', function() {
    document.getElementById('form-with-confirmation').submit();
});
</script>

</html>

{% comment %} } PREP {% endcomment %}
