{% load static %}
{% load bootstrap_icons %}

{% comment %}
PREP См. комментарий к two_columns.html.

Ипользование:

{% include 'objects/three_columns.html' %}

{% endcomment %}

<div style="grid-template-columns: 1fr 3fr 1fr;" class="d-grid mb-3 mt-3 {% if not user.is_superuser %}pb-3{% endif %} gap-3 position-relative attention-border">
    <div class="p-2 ms-3 mt-3 attention-border d-flex justify-content-center align-items-center">
        <img src="{% static 'general/img/icon.png' %}" class="article-img" alt="img">
    </div>
    <div class="p-2 mt-3 attention-border">
        <p class="fw-bold">Grid item 2</p>
        <p>Grid item 2</p>
        <p>Grid item 2</p>
        <p>Grid item 2</p>
    </div>
    <div class="p-2 me-3 mt-3 attention-border position-relative text-center">
        <p>Grid item 3</p>
        <p>Grid item 3</p>

        {% if user.is_superuser %}
            {% comment %}<a class="btn del-button position-absolute z-3" href="{{ object.get_delete_url }}">{% bs_icon 'trash' %}</a>{% endcomment %}
        {% endif %}
    </div>
    {% if user.is_superuser %}
        <a href="{# PREP {{ object.get_update_url }} #}" class="stretched-link"></a>
    {% endif %}
</div>
