{% load static %}
{% load bootstrap_icons %}

{% comment %}

PREP

https://getbootstrap.com/docs/5.3/utilities/spacing/#gap

Элемент <a> с классом stretched-link добавляет псевдо-элемент,
который имеет ширину и высоту.

Будучи помещен выше внутренних дивов, он сдвигает элементы и
рушит всю гармонию.

Если поместить ссылку после внутренних дивов,
визуально удваивается марджин снизу.

Поэтому у внутренних дивов снизу нет марджинов.

Ипользование:

{% include 'objects/two_columns.html' %}

{% endcomment %}



<div style="grid-template-columns: 4fr 1fr;" class="d-grid mb-3 mt-3 gap-3 {% if not user.is_superuser %}pb-3{% endif %} position-relative attention-border">
    <div class="p-2 ms-3 mt-3 attention-border">
        <p class="fw-bold">Grid item 2</p>
        <p>Grid item 2</p>
        <p>Grid item 2</p>
        <p>Grid item 2</p>
    </div>
    <div class="p-2 me-3 mt-3 attention-border position-relative text-center">
        <p>Grid item 2</p>

        {% if user.is_superuser %}
            {% comment %}<a class="btn del-button position-absolute z-3" href="{{ object.get_delete_url }}">{% bs_icon 'trash' %}</a>{% endcomment %}
        {% endif %}
    </div>
    {% if user.is_superuser %}
        <a href="{# PREP {{ object.get_update_url }} #}" class="stretched-link"></a>
    {% endif %}
</div>
